      Back to the <a href="/" class="alert-link">list</a> of residents?
    <div class="card" [hidden]="!resident">
          Change information of resident
          <span class="bolder"
            >{{ resident?.firstname | titlecase }}
            {{ resident?.surname | titlecase }}</span
          >
        </h4>
        <form class="row g-3 mb-3" [formGroup]="editForm">
          <div class="col-md-6">
            <label for="inputFirstname" class="form-label">First name</label>
            <input
              type="text"
              class="form-control"
              id="inputFirstname"
              placeholder="Enter your first name"
              formControlName="firstname"
            />
          </div>
          <div class="col-md-6">
            <label for="inputLastname" class="form-label">Last name</label>
            <input
              type="text"
              class="form-control"
              id="inputLastname"
              placeholder="Enter your last name"
              formControlName="surname"
            />
          </div>
          <div class="col-md-6">
            <label for="inputUsername" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="inputUsername"
              placeholder="Enter your username"
              formControlName="username"
            />
          </div>
          <div class="col-md-6">
            <label for="inputGender" class="form-label">Gender</label>
            <select
              id="inputGender"
              class="form-select"
              formControlName="gender"
            >
              <option selected>What's your gender?</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="diverse">Diverse</option>
            </select>
          </div>
          <div class="col-md-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input
              type="text"
              class="form-control"
              id="inputAddress"
              placeholder="Example: 1234 Main St"
              formControlName="address"
            />
          </div>
          <div class="col-md-12">
            <label for="inputQuote" class="form-label">Quote</label>
            <textarea
              class="form-control"
              id="inputQuote"
              rows="2"
              placeholder="What's on your mind? {{
                resident?.firstname | titlecase
              }}"
              formControlName="quote"
            ></textarea>
          </div>
        </form>
        <div class="d-flex justify-content-end">
          <button
            id="save-btn"
            type="button"
            class="btn btn-primary me-2"
            [disabled]="editForm.invalid"
          >
            Save changes
          </button>
          <a type="button" class="btn btn-secondary" href="/"> Close </a>
        </div>
      </div>
    </div>
  </div>
</div>
